<section class="blf">
    <div class="container">
        <div class="row justify-content-center">
            <div class="blf__content text-center">

                    <div class="blf__images">
                        <img src="/images/footer-logo-removebg-preview-min.png" alt="footer-logo-removebg-preview-min">
                    </div>
               
                 <ul class="blf__list">
                     <li class="blf__item"><a href="#" class="blf__link">About BLM</a></li>
                     <li class="blf__item"><a href="#" class="blf__link">Contact</a></li>
                     <li class="blf__item"><a href="#" class="blf__link">Donate</a></li>
                     <li class="blf__item"><a href="#" class="blf__link">News</a></li>
                     <li class="blf__item"><a href="#" class="blf__link">Privacy Policy</a></li>
                     <li class="blf__item"><a href="#" class="blf__link">Resources</a></li>
                     <li class="blf__item"><a href="#" class="blf__link">Shop</a></li>
                     <li class="blf__item"><a href="#" class="blf__link">BLM's #WhatMatters2020</a></li>
                 </ul>

                 <ul class="blf__lists">
                    <li class="blf__items">
                      <a href="#" class="blf__links">
                        <svg class="blf__icon">
                          <use xlink:href="images/symbol-defs.svg#icon-facebook2"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="blf__items">
                      <a href="#" class="blf__links">
                        <svg class="blf__icon">
                          <use xlink:href="images/symbol-defs.svg#icon-twitter"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="blf__items">
                      <a href="#" class="blf__links">
                        <svg class="blf__icon">
                          <use xlink:href="images/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
<script src="/js/blm.js"></script>
</html>