.blf{
    position: relative;
    margin-top: 9rem;
    padding: 1rem 0;
    background-image: url(/images/footer-bg-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    &__images img{
        width: 25rem;
        height: 12rem;
    }
    &__list{
        list-style: none;
    }
    &__item{
        display: inline-block;
    }
    &__item:not(:last-child){
        margin-right: 1rem;
    }
    &__link{
        font-size: 1.3rem;
        color: #fff;
        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }
    &__lists{
        margin-top: .7rem;
        list-style: none;
    }
    &__icon{
        width: 1.4rem;
        height: 1.4rem;
        fill: $blm-main-color;
    }
    &__items {
        display: inline-block;
    }
    &__items:not(:last-child){
        margin-right: 1.3rem;
    }
}