.banner{
    &__linkb{
        font-size: 2rem;
        color: #fff;
        letter-spacing: .1rem;
        text-transform: uppercase;
        background-color: $blm-donate-color;
        padding: .3rem .7rem;
        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }
}

.carT{
    &__button{
     background-color:$blm-main-color ;
     margin-top: 1rem;
    padding: .4rem .8rem;
    }
    &__link{
        font-size: 1.5rem;
     color: #000;
    
    
     &:hover{
      color: #000;
     text-decoration: none;
    }
}
&__buttonSb{
  background-color: $blm-main-color;
  padding: .8rem .7rem;
}
&__linkSb{
 font-size: 1.3rem;
 color: #000;
 font-weight: bold;
 text-transform: uppercase;
 &:hover{
     color: #000;
     text-decoration: none;
 }
}
&__buttonSd{
    margin-top: 2rem;
}
 &__linkSd{
    font-size: 1.3rem;
     color: #fff;
     text-transform: uppercase;
     background-color: $blm-donate-color;
    padding: .8rem .7rem;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
 }
 &__linkSdh{
    font-size: 1.3rem;
     color: #000;
     text-transform: uppercase;
     background-color: $blm-main-color;
    padding: .8rem .7rem;
    &:hover{
        color: #000;
        text-decoration: none;
    }
 }
}
.connect{
    &__button{
        margin-top: 2rem;
    }
    &__link{
        font-size: 1rem;
        color: #000;
        text-transform: uppercase;
        background-color: $blm-main-color;
        border: .1rem solid $blm-main-color;
        padding: .6rem 1rem;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    }
}