<%- include('partials/homeHeader') %>
<section class="banner">
    <div class="container">
        <div class="banner__content text-center">
            <ul class="banner__list">
                <li class="banner__item"><a href="#" class="banner__link">
                    Blm's #Whatmatters2020
                </a></li>
                <li class="banner__item"><a href="#" class="banner__link">
                    Resources
                </a></li>
                <li class="banner__item"><a href="" class="banner__linkb">
                    Donte
                </a></li>
            </ul>
        </div>
    </div>
</section>
<section class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="about__content">
                    <h2 class="header">
                        About
                    </h2>
                    <p class="mainP">
                        #BlackLivesMatter was founded in 2013 in response to the acquittal of Trayvon Martin’s murderer. Black Lives Matter Global Network Foundation, Inc. is a global organization in the US, UK, and Canada, whose mission is to eradicate white supremacy and build local power to intervene in violence inflicted on Black communities by the state and vigilantes. By combating and countering acts of violence, creating space for Black imagination and innovation, and centering Black joy, we are winning immediate improvements in our lives.
                    </p>

                    <ul class="about__listA">
                        <li class="about__itemA"><a href="#" class="about__linkA">
                           <strong>We are expansive.</strong> We are a collective of liberators who believe in an inclusive and spacious movement. We also believe that in order to win and bring as many people with us along the way, we must move beyond the narrow nationalism that is all too prevalent in Black communities. We must ensure we are building a movement that brings all of us to the front.
                        </a></li>
                        <li class="about__itemA"><a href="#" class="about__linkA">
                          <strong>We affirm the lives</strong>  of Black queer and trans folks, disabled folks, undocumented folks, folks with records, women, and all Black lives along the gender spectrum. Our network centers those who have been marginalized within Black liberation movements.
                        </a></li>
                        <li class="about__itemA"><a href="#" class="about__linkA">
                          <strong>We are working </strong>  for a world where Black lives are no longer systematically targeted for demise.
                        </a></li>
                        <li class="about__itemA"><a href="#" class="about__linkA">
                           <strong>We affirm our humanity </strong> , our contributions to this society, and our resilience in the face of deadly oppression.
                        </a></li>
                        <li class="about__itemA"><a href="#" class="about__linkA">
                            The call for Black lives to matter is a rallying cry for ALL Black lives striving for liberation.
                        </a></li>
                    </ul>
                     <div class="about__contentS text-center">
                         <h3 class="like">Like IT?</h3>
                         <h2 class="share">
                             <strong>Share IT</strong>
                         </h2>
                         <ul class="about__listS">
                             <li class="about__itemS"><a href="#" class="about__linkS">
                                <svg class="about__icon">
                                    <use xlink:href="images/symbol-defs.svg#icon-facebook2"></use>
                                  </svg>    
                             </a></li>
                             <li class="about__itemS"><a href="#" class="about__linkS">
                                <svg class="about__icon">
                                    <use xlink:href="images/symbol-defs.svg#icon-twitter"></use>
                                  </svg>
                             </a></li>
                             <li class="about__itemS"><a href="#" class="about__linkS">
                                <svg class="about__icon">
                                    <use xlink:href="images/symbol-defs.svg#icon-instagram"></use>
                                  </svg>
                             </a></li>
                         </ul>
                     </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="carT__sidebar">
                    <h2 class="take">Take Action</h2>
                    <p class="color">
                       Join the Movement to fight for Freedom, Liberation and Justice by signing up for updates, supporting our work, checking out our resources, following us on social media, or wearing our dope, official gear.
                    </p>
                </div>
                <div class="carT__contactBg">
                    <h2 class="action">
                       Join The Global Movement
                    </h2>
                    <p class="you">
                       Sign up here for updates on special launches, network actions, programs, partnerships, and more!
                    </p>
                    <form id="form" class="contact-form" method="POST" action="" >
                      <div class="form-group">
                          <input type="text" name="name" class="form-control" placeholder="FIRST NAME">
                      </div>
                      <div class="form-group">
                       <input type="text" name="name" class="form-control" placeholder="LAST NAME">
                     </div>
                   <div class="form-group">
                       <input type="email" name="email" class="form-control" placeholder="EMAIL">
                   </div>
                   <div class="form-group">
                       <input type="text" name="zip" class="form-control" placeholder="ZIP/POSTAL CODE">
                   </div>

                   <div class="carT__buttonSb">
                       <a href="#" class="carT__linkSb" role="button">ADD YOUR NAME</a>
                   </div>
                    </form>
                </div>
                <br>
                <br>
                <br>
                <div class="carT__sidebar">
                   <h2 class="donate">Donate Today</h2>
                   <p class="king">
                       We appreciate your support of the movement and our ongoing fight to end State-sanctioned violence, liberate Black people, and end white supremacy forever. 
                   </p>

                   <div class="carT__buttonSd">
                       <a href="#" class="carT__linkSd" role="button">Donate</a>
                   </div>
               </div>
               <br>
               <br>
               <br>
               <div class="carT__sidebar">
                   <h2 class="take">Help Us Fight Disinformation</h2>
                   <p class="color">
                       We need to see what you see. Black Lives Matter is a central target of disinformation and you are a key line of defense. Report suspicious sites, stories, ads, social accounts, and posts about BLM. 
                   </p>
                   <div class="carT__buttonS">
                       <a href="#" class="carT__linkSdh" role="button">Help Us</a>
                   </div>
               </div>
               <br>
               <br>
               <br>
               <div class="carT__sidebar">
                   <h2 class="take">Follow BLM</h2>
                  <ul class="carT__sideList">
                      
                          <li class="carT__sideItem"><a href="#" class="carT__sideLinf">
                           <svg class="carT__iconBm">
                               <use xlink:href="images/symbol-defs.svg#icon-facebook2"></use>
                             </svg>
                          </a></li>
                          <li class="carT__sideItem"><a href="#" class="carT__sideLint">
                           <svg class="carT__iconBm">
                               <use xlink:href="images/symbol-defs.svg#icon-twitter"></use>
                             </svg>
                          </a></li>
                          <li class="carT__sideItem"><a href="#" class="carT__sideLini">
                           <svg class="carT__iconBm">
                               <use xlink:href="images/symbol-defs.svg#icon-instagram"></use>
                             </svg>
                          </a></li>
                  </ul>
               </div>
               <br>
               <br>
               <br>
               <div class="carT__sidebar">
                   <h2 class="take">Shop BLM</h2>
                   <div class="row">
                       <div class="col-lg-4">
                           <div class="carT__sideImages">
                               <img src="/images/blm-shop-Official-3-stripe-streak-tee.jpg" alt="blm-shop-Official-3-stripe-streak-tee">
                           </div>
                       </div>
                       <div class="col-lg-6">
                           <h2 class="bunny">Offical 3 Stripe Streak Tee</h2>
                           <p class="sleeve">
                               Short Sleeve, Midweight, Crewneck <br>
                               $30.00
                           </p>
                       </div>
                   </div>
                   <br>
                   <br>
                   <div class="row">
                       <div class="col-lg-4">
                           <div class="carT__sideImages">
                               <img src="images/blm-shop-official-red-heart-hashtag-fitted-tee-removebg-preview-min.png" alt="blm-shop-official-red-heart-hashtag-fitted-tee-removebg-preview-min">
                           </div>
                       </div>
                       <div class="col-lg-6">
                           <h2 class="bunny">Offical Red Heart Hashtag Fitteed Tee</h2>
                           <p class="sleeve">
                               Short Sleeve, Midweight, Crewneck <br>
                               $30.00
                           </p>
                       </div>
                   </div>
                   <br><br>
                   <div class="carT__buttonS">
                       <a href="#" class="carT__linkSdh" role="button">Shop All</a>
                   </div>
               </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>