<%- include('partials/contactHeader') %>
<section class="banner">
    <div class="container">
        <div class="banner__content text-center">
            <ul class="banner__list">
                <li class="banner__item"><a href="#" class="banner__link">
                    Blm's #Whatmatters2020
                </a></li>
                <li class="banner__item"><a href="#" class="banner__link">
                    Resources
                </a></li>
                <li class="banner__item"><a href="" class="banner__linkb">
                    Donte
                </a></li>
            </ul>
        </div>
    </div>
</section>
<section class="connect">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="connect__content">
                    <h1 class="title">
                        Contact 
                    </h1>
                    <p class="para">
                        For any media and/or press inquires, please contact us at <a href="#" class="link">press@blacklivesmatter.com</a>
                    </p>
                    <form class="contact-form" action="#" method="POST" >
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="namef">First Name</label>
                                    <input type="text" name="name" id="namef" class="form-control time" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="namel">Last Name</label>
                                    <input type="text" name="name" id="namel" class="form-control time" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="emailr">Email</label>
                                    <input type="email" name="email" id="emailr" class="form-control time" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="subject">Subject</label>
                                    <input type="text" name="subject" id="subject" class="form-control time" placeholder="Subject">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control message" type="message" name="message" id="message" placeholder="Message"></textarea>
                                </div>
                                <div class="connect__button">
                                    <button class="connect__link" type="submit">Submit Your Message</button>
                                 </div>
                            </div>
                        </div>
                    </form>
                    <div class="about__contentS text-center">
                        <h3 class="like">Like IT?</h3>
                        <h2 class="share">
                            <strong>Share IT</strong>
                        </h2>
                        <ul class="about__listS">
                            <li class="about__itemS"><a href="#" class="about__linkS">
                               <svg class="about__icon">
                                   <use xlink:href="images/symbol-defs.svg#icon-facebook2"></use>
                                 </svg>    
                            </a></li>
                            <li class="about__itemS"><a href="#" class="about__linkS">
                               <svg class="about__icon">
                                   <use xlink:href="images/symbol-defs.svg#icon-twitter"></use>
                                 </svg>
                            </a></li>
                            <li class="about__itemS"><a href="#" class="about__linkS">
                               <svg class="about__icon">
                                   <use xlink:href="images/symbol-defs.svg#icon-instagram"></use>
                                 </svg>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="carT__sidebar">
                    <h2 class="take">Take Action</h2>
                    <p class="color">
                       Join the Movement to fight for Freedom, Liberation and Justice by signing up for updates, supporting our work, checking out our resources, following us on social media, or wearing our dope, official gear.
                    </p>
                </div>
                <div class="carT__contactBg">
                    <h2 class="action">
                       Join The Global Movement
                    </h2>
                    <p class="you">
                       Sign up here for updates on special launches, network actions, programs, partnerships, and more!
                    </p>
                    <form id="form" class="contact-form" method="POST" action="" >
                      <div class="form-group">
                          <input type="text" name="name" class="form-control" placeholder="FIRST NAME">
                      </div>
                      <div class="form-group">
                       <input type="text" name="name" class="form-control" placeholder="LAST NAME">
                     </div>
                   <div class="form-group">
                       <input type="email" name="email" class="form-control" placeholder="EMAIL">
                   </div>
                   <div class="form-group">
                       <input type="text" name="zip" class="form-control" placeholder="ZIP/POSTAL CODE">
                   </div>

                   <div class="carT__buttonSb">
                       <a href="#" class="carT__linkSb" role="button">ADD YOUR NAME</a>
                   </div>
                    </form>
                </div>
                <br>
                <br>
                <br>
                <div class="carT__sidebar">
                   <h2 class="donate">Donate Today</h2>
                   <p class="king">
                       We appreciate your support of the movement and our ongoing fight to end State-sanctioned violence, liberate Black people, and end white supremacy forever. 
                   </p>

                   <div class="carT__buttonSd">
                       <a href="#" class="carT__linkSd" role="button">Donate</a>
                   </div>
               </div>
               <br>
               <br>
               <br>
               <div class="carT__sidebar">
                   <h2 class="take">Help Us Fight Disinformation</h2>
                   <p class="color">
                       We need to see what you see. Black Lives Matter is a central target of disinformation and you are a key line of defense. Report suspicious sites, stories, ads, social accounts, and posts about BLM. 
                   </p>
                   <div class="carT__buttonS">
                       <a href="#" class="carT__linkSdh" role="button">Help Us</a>
                   </div>
               </div>
               <br>
               <br>
               <br>
               <div class="carT__sidebar">
                   <h2 class="take">Follow BLM</h2>
                  <ul class="carT__sideList">
                      
                          <li class="carT__sideItem"><a href="#" class="carT__sideLinf">
                           <svg class="carT__iconBm">
                               <use xlink:href="images/symbol-defs.svg#icon-facebook2"></use>
                             </svg>
                          </a></li>
                          <li class="carT__sideItem"><a href="#" class="carT__sideLint">
                           <svg class="carT__iconBm">
                               <use xlink:href="images/symbol-defs.svg#icon-twitter"></use>
                             </svg>
                          </a></li>
                          <li class="carT__sideItem"><a href="#" class="carT__sideLini">
                           <svg class="carT__iconBm">
                               <use xlink:href="images/symbol-defs.svg#icon-instagram"></use>
                             </svg>
                          </a></li>
                  </ul>
               </div>
               <br>
               <br>
               <br>
               <div class="carT__sidebar">
                   <h2 class="take">Shop BLM</h2>
                   <div class="row">
                       <div class="col-lg-4">
                           <div class="carT__sideImages">
                               <img src="/images/blm-shop-Official-3-stripe-streak-tee.jpg" alt="blm-shop-Official-3-stripe-streak-tee">
                           </div>
                       </div>
                       <div class="col-lg-6">
                           <h2 class="bunny">Offical 3 Stripe Streak Tee</h2>
                           <p class="sleeve">
                               Short Sleeve, Midweight, Crewneck <br>
                               $30.00
                           </p>
                       </div>
                   </div>
                   <br>
                   <br>
                   <div class="row">
                       <div class="col-lg-4">
                           <div class="carT__sideImages">
                               <img src="images/blm-shop-official-red-heart-hashtag-fitted-tee-removebg-preview-min.png" alt="blm-shop-official-red-heart-hashtag-fitted-tee-removebg-preview-min">
                           </div>
                       </div>
                       <div class="col-lg-6">
                           <h2 class="bunny">Offical Red Heart Hashtag Fitteed Tee</h2>
                           <p class="sleeve">
                               Short Sleeve, Midweight, Crewneck <br>
                               $30.00
                           </p>
                       </div>
                   </div>
                   <br><br>
                   <div class="carT__buttonS">
                       <a href="#" class="carT__linkSdh" role="button">Shop All</a>
                   </div>
               </div>
            </div>

        </div>
    </div>
</section>
<%- include('partials/footer') %>