<%- include('partials/homeHeader') %>
<section class="banner">
    <div class="container">
        <div class="banner__content text-center">
            <ul class="banner__list">
                <li class="banner__item"><a href="#" class="banner__link">
                    Blm's #Whatmatters2020
                </a></li>
                <li class="banner__item"><a href="#" class="banner__link">
                    Resources
                </a></li>
                <li class="banner__item"><a href="" class="banner__linkb">
                    Donte
                </a></li>
            </ul>
        </div>
    </div>
</section>
<section class="carT">
    <div class="container-fluid">
        <div class="carT__content">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="/images/blm-slider-image-first.jpg" class="d-block w-100" alt="blm-slider-image-first">
                            <h5 class="slid">These Three Words</h5>
                            <p class="para">WATCH OUR VIDEO: Black Lives Matter. These three words have been said many times in many ways. And they still need to be said. Today.</p>
                          </div>
                          <div class="carousel-item">
                            <img src="/images/blm-slider-image-second-min.jpg" class="d-block w-100" alt="blm-slider-image-second-min">
                            <h5 class="slid">Now, we Transform</h5>
                              <p class="para">WATCH OUR VIDEO: Our fight for liberty, justice, and freedom continues. Together, we can — and will — transform. This is the revolution. Change is coming.</p>
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                     </div>
                      
                        <div class="carT__small carT__look">
                            <h2 class="text">
                                Black Lives Matter Global Network Foundation Statement About Violent Conflict in Ethiopa
                            </h2>
                            <h3 class="sub">December 17, 2020</h3>
                             <div class="row">
                                <div class="col-lg-7">
                                    <p class="main">
                                        Black Lives Matter stands in solidarity with all disenfranchised and displaced people in the Horn of Africa who are affected by violent conflict in Ethiopia…
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <div class="carT__small">
                                        <img src="images/blm-Global-Network-foundation-statment-min.jpg" alt="blm-Global-Network-foundation-statment-min">
                                    </div>
                                </div>
                             </div>
                        </div>
                        <div class="carT__small">
                            <h2 class="text">
                               Love, Connection, and Beauty in aTime of Isolation, Tension, and change
                            </h2>
                            <h3 class="sub">November 26, 2020</h3>
                             <div class="row">
                                <div class="col-lg-7">
                                    <p  class="main">
                                        The attacks the USPS continues to face are not just attacks on the postal service but attacks on Black lives. To defund the USPS would be to deny future generations this opportunity and dishonor the legacy of Black postal workers. Now, we’re taking this matter into our own hands by writing and sending #BlackLoveLetters through USPS…
                                    </p>
                                </div>
                                <div class="col-lg-4 ">
                                    <div class="carT__small">
                                        <img src="images/love-connection-and-beauty-in-a-time-of-isolation-min.jpg" alt="love-connection-and-beauty-in-a-time-of-isolation-min">
                                    </div>
                                </div>
                             </div>
                        </div>

                        <div class="carT__small">
                            <h2 class="text">
                               Californians: Help Us Make Calls to Gov. Newsom's Office Before It's Too Late
                            </h2>
                            <h3 class="sub">November 23, 2020</h3>
                             <div class="row">
                                <div class="col-lg-7">
                                    <p class="main">
                                        While we are ecstatic about the historic election of Kamala Harris being elected the first Black woman vice president, it means her Senate seat is currently vacant. This also means that we’re faced with the unfortunate reality that if Gov. Newsom doesn’t appoint a Black woman to this seat, there will be no Black women in the Senate…
                                    </p>
                                </div>
                                <div class="col-lg-4 ">
                                    <div class="carT__small">
                                        <img src="/images/Califorians-Help-us-make-call-to-Gov.jpg" alt="Califorians-Help-us-make-call-to-Gov">
                                    </div>
                                    <div class="carT__button text-center">
                                        <a href="#" class="carT__link" role="button">View All News</a>
                                    </div>
                                </div>

                             </div>
                        </div>

                 </div>
                 <div class="col-lg-4 col-12">
                     <div class="carT__sidebar">
                         <h2 class="take">Take Action</h2>
                         <p class="color">
                            Join the Movement to fight for Freedom, Liberation and Justice by signing up for updates, supporting our work, checking out our resources, following us on social media, or wearing our dope, official gear.
                         </p>
                     </div>
                     <div class="carT__contactBg">
                         <h2 class="action">
                            Join The Global Movement
                         </h2>
                         <p class="you">
                            Sign up here for updates on special launches, network actions, programs, partnerships, and more!
                         </p>
                         <form id="form" class="contact-form" method="POST" action="" >
                           <div class="form-group">
                               <input type="text" name="name" class="form-control" placeholder="FIRST NAME">
                           </div>
                           <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="LAST NAME">
                          </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="EMAIL">
                        </div>
                        <div class="form-group">
                            <input type="text" name="zip" class="form-control" placeholder="ZIP/POSTAL CODE">
                        </div>

                        <div class="carT__buttonSb">
                            <a href="#" class="carT__linkSb" role="button">ADD YOUR NAME</a>
                        </div>
                         </form>
                     </div>
                     <br>
                     <br>
                     <br>
                     <div class="carT__sidebar">
                        <h2 class="donate">Donate Today</h2>
                        <p class="king">
                            We appreciate your support of the movement and our ongoing fight to end State-sanctioned violence, liberate Black people, and end white supremacy forever. 
                        </p>

                        <div class="carT__buttonSd">
                            <a href="#" class="carT__linkSd" role="button">Donate</a>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="carT__sidebar">
                        <h2 class="take">Help Us Fight Disinformation</h2>
                        <p class="color">
                            We need to see what you see. Black Lives Matter is a central target of disinformation and you are a key line of defense. Report suspicious sites, stories, ads, social accounts, and posts about BLM. 
                        </p>
                        <div class="carT__buttonS">
                            <a href="#" class="carT__linkSdh" role="button">Help Us</a>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="carT__sidebar">
                        <h2 class="take">Follow BLM</h2>
                       <ul class="carT__sideList">
                           
                               <li class="carT__sideItem"><a href="#" class="carT__sideLinf">
                                <svg class="carT__iconBm">
                                    <use xlink:href="images/symbol-defs.svg#icon-facebook2"></use>
                                  </svg>
                               </a></li>
                               <li class="carT__sideItem"><a href="#" class="carT__sideLint">
                                <svg class="carT__iconBm">
                                    <use xlink:href="images/symbol-defs.svg#icon-twitter"></use>
                                  </svg>
                               </a></li>
                               <li class="carT__sideItem"><a href="#" class="carT__sideLini">
                                <svg class="carT__iconBm">
                                    <use xlink:href="images/symbol-defs.svg#icon-instagram"></use>
                                  </svg>
                               </a></li>
                       </ul>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="carT__sidebar">
                        <h2 class="take">Shop BLM</h2>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="carT__sideImages">
                                    <img src="/images/blm-shop-Official-3-stripe-streak-tee.jpg" alt="blm-shop-Official-3-stripe-streak-tee">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h2 class="bunny">Offical 3 Stripe Streak Tee</h2>
                                <p class="sleeve">
                                    Short Sleeve, Midweight, Crewneck <br>
                                    $30.00
                                </p>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="carT__sideImages">
                                    <img src="images/blm-shop-official-red-heart-hashtag-fitted-tee-removebg-preview-min.png" alt="blm-shop-official-red-heart-hashtag-fitted-tee-removebg-preview-min">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <h2 class="bunny">Offical Red Heart Hashtag Fitteed Tee</h2>
                                <p class="sleeve">
                                    Short Sleeve, Midweight, Crewneck <br>
                                    $30.00
                                </p>
                            </div>
                        </div>
                        <br><br>
                        <div class="carT__buttonS">
                            <a href="#" class="carT__linkSdh" role="button">Shop All</a>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div> 
</section>
<%- include('partials/footer') %>

