<%- include('partials/newsHeader') %>
<section class="banner">
    <div class="container">
        <div class="banner__content text-center">
            <ul class="banner__list">
                <li class="banner__item"><a href="#" class="banner__link">
                    Blm's #Whatmatters2020
                </a></li>
                <li class="banner__item"><a href="#" class="banner__link">
                    Resources
                </a></li>
                <li class="banner__item"><a href="" class="banner__linkb">
                    Donte
                </a></li>
            </ul>
        </div>
    </div>
</section>
<section class="news">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 little">
             <div class="news__content">
                 <h1 class="title">
                     News
                 </h1>
                 <h3 class="sub">
                     Black Lives Matter Global Network Foundation Statement About Violent Conflict in Ethiopia
                 </h3>
                 <h4 class="date">
                     December 17, 2020
                 </h4>
                 <div class="row">
                     <div class="col-lg-7">
                         <div class="new__content">
                             <p class="newP">
                                Black Lives Matter stands in solidarity with all disenfranchised and displaced people in the Horn of Africa who are affected by violent conflict in Ethiopia…
                             </p>
                         </div>
                     </div>
                     <div class="col-lg-5">
                         <div class="news__images">
                             <img src="/images/blm-Global-Network-foundation-statment-min.jpg" alt="news__images">
                         </div>
                     </div>
                 </div>
             </div>
             <div class="news__content">
                <hr class="divd">
             </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 little">
             <div class="news__content">
                 <h3 class="sub">
                    Love, Connection, and Beauty in a Time of Isolation, Tension, and Change
                 </h3>
                 <h4 class="date">
                     November 26, 2020
                 </h4>
                 <div class="row">
                     <div class="col-lg-7">
                         <div class="new__content">
                             <p class="newP">
                                The attacks the USPS continues to face are not just attacks on the postal service but attacks on Black lives. To defund the USPS would be to deny future generations this opportunity and dishonor the legacy of Black postal workers. Now, we’re taking this matter into our own hands by writing and sending #BlackLoveLetters through USPS…
                             </p>
                         </div>
                     </div>
                     <div class="col-lg-5">
                         <div class="news__images">
                             <img src="/images/love-connection-and-beauty-in-a-time-of-isolation-min.jpg" alt="news__images">
                         </div>
                     </div>
                 </div>
             </div>
             <div class="news__content">
                <hr class="divd">
             </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 little">
             <div class="news__content">
                 <h3 class="sub">
                     Californians: Help Us Make Calls to Gov. Newsom's Office Before It's Too Late
                 </h3>
                 <h4 class="date">
                     November 23, 2020
                 </h4>
                 <div class="row">
                     <div class="col-lg-7">
                         <div class="new__content">
                             <p class="newP">
                                While we are ecstatic about the historic election of Kamala Harris being elected the first Black woman vice president, it means her Senate seat is currently vacant. This also means that we’re faced with the unfortunate reality that if Gov. Newsom doesn’t appoint a Black woman to this seat, there will be no Black women in the Senate…
                             </p>
                         </div>
                     </div>
                     <div class="col-lg-5">
                         <div class="news__images">
                             <img src="/images/Califorians-Help-us-make-call-to-Gov.jpg" alt="news__images">
                         </div>
                     </div>
                 </div>
             </div>
             <div class="news__content">
                <hr class="divd">
             </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 little">
             <div class="news__content">
                 <h3 class="sub">
                     Tell Gov. Newsom He Must Appoint a Black Woman to the Senate
                 </h3>
                 <h4 class="date">
                     November 17, 2020
                 </h4>
                 <div class="row">
                     <div class="col-lg-7">
                         <div class="new__content">
                             <p class="newP">
                                Kamala Harris is set to make history as the first Black woman vice president — which means her Senate seat will soon be open. Without Kamala Harris, there are no Black women in the Senate at all. That’s why we’re calling on Governor Gavin Newsom to appoint a Black woman to fill that seat…
                             </p>
                         </div>
                     </div>
                     <div class="col-lg-5">
                         <div class="news__images">
                             <img src="/images/blm-Global-Network-foundation-statment-min.jpg" alt="news__images">
                         </div>
                     </div>
                 </div>
             </div>
             <div class="news__content">
                <hr class="divd">
             </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 little">
             <div class="news__content">
                 <h3 class="sub">
                     Join Black Lives Matter in Our Request for a Meeting with President-Elect Biden and Vice President-Elect Harris
                 </h3>
                 <h4 class="date">
                     November 9, 2020
                 </h4>
                 <div class="row">
                     <div class="col-lg-7">
                         <div class="new__content">
                             <p class="newP">
                                We worked long and hard to ensure we did all we could to vote Donald Trump out of the White House — we succeeded. And in doing so, we even elected a Black woman — the first Black woman — to the vice presidency. But the truth is, getting Trump out of office was not the end all, be all. The work is just beginning. We start by both holding the new president-elect and vice president-elect accountable to their campaign commitments of addressing systemic racism and by emphasizing our willingness to work with them.
                             </p>
                         </div>
                     </div>
                     <div class="col-lg-5">
                         <div class="news__images">
                             <img src="/images/blm-Global-Network-foundation-statment-min.jpg" alt="news__images">
                         </div>
                     </div>
                 </div>
             </div>
             <div class="news__content">
                <hr class="divd">
             </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 little">
             <div class="news__content">
                 <h3 class="sub">
                    Black Lives Matter Global Network Statement About Biden-Harris Victory
                 </h3>
                 <h4 class="date">
                     November 7, 2020
                 </h4>
                 <div class="row">
                     <div class="col-lg-7">
                         <div class="new__content">
                             <p class="newP">
                                Once again, Black people — especially Black women — have saved the United States. Whether in Milwaukee, Detroit, Philadelphia, or Atlanta, Black voters showed up in huge numbers to turn this country around and remove the racist in the White House…
                             </p>
                         </div>
                     </div>
                     <div class="col-lg-5">
                         <div class="news__images">
                             <img src="/images/blm-Global-Networt-statement-about-victory-min.jpg" alt="news__images">
                         </div>
                     </div>
                 </div>
             </div>
             <div class="news__content">
                <hr class="divd">
             </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 little">
             <div class="news__content">
                 <h3 class="sub">
                     Statement by Black Lives Matter Global Network About Election Result
                 </h3>
                 <h4 class="date">
                     November 3, 2020
                 </h4>
                 <div class="row">
                     <div class="col-lg-7">
                         <div class="new__content">
                             <p class="newP">
                                Patrisse Cullors, Co-Founder and Executive Director of Black Lives Matter Global Network Foundation (BLMGNF), released the following statement in response to the election results…
                             </p>
                         </div>
                     </div>
                     <div class="col-lg-5">
                         <div class="news__images">
                             <img src="/images/blm-Global-Network-foundation-statment-min.jpg" alt="news__images">
                         </div>
                     </div>
                 </div>
             </div>
             <div class="news__content">
                <hr class="divd">
             </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 little">
             <div class="news__content">
                 <h3 class="sub">
                     Black Lives Stands in Solidarity with #ENDSARS Movement Against Police Brutality
                 </h3>
                 <h4 class="date">
                     October 23, 2020
                 </h4>
                 <div class="row">
                     <div class="col-lg-7">
                         <div class="new__content">
                             <p class="newP">
                                As Black Lives Matter, we recognize and affirm the sanctity of all Black lives everywhere in the world. Following the murder of an unarmed civilian by the Special Anti-Robbery Squad (SARS) unit of the Nigerian police, young people across Nigeria have held protests denouncing years of brutality, torture, abductions, and killings. The demonstrations mark one of the largest Nigerian protest movements in generations.
                             </p>
                         </div>
                     </div>
                     <div class="col-lg-5">
                         <div class="news__images">
                             <img src="/images/blm-Global-Network-foundation-statment-min.jpg" alt="news__images">
                         </div>
                     </div>
                 </div>
             </div>
             <div class="news__content">
                <hr class="divd">
             </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 little">
             <div class="news__content">
                 <h3 class="sub">
                     Watch and Share the Black Woman Are Divine Video
                 </h3>
                 <h4 class="date">
                     October 18, 2020
                 </h4>
                 <div class="row">
                     <div class="col-lg-7">
                         <div class="new__content">
                             <p class="newP">
                                Two weeks ago, people around the globe came together to participate in #BlackWomenAreDivine weekend, a reclamation in the name of Breonna Taylor. Thousands of Black women and people who love Black women made their love real…from healing justice weekends, to virtual brunches, to physically-distanced celebrations, to meaningful gift-giving, to our social media takeover, #BlackWomenAreDivine weekend was one of the most uplifting and affirming events in recent memory. We’ve made a video to celebrate the weekend and hope you’ll take a look and share it.
                             </p>
                         </div>
                     </div>
                     <div class="col-lg-5">
                         <div class="news__images">
                             <img src="/images/Watch-and-share-the-black-women-are-divine-min.jpg" alt="news__images">
                         </div>
                     </div>
                 </div>
             </div>
             <div class="news__content">
                <hr class="divd">
             </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 little">
             <div class="news__content">
                 <h3 class="sub">
                     Statement by Black Lives Matter Global Network Foundation in Response to Trump's "Stand Back, Stand By"
                     Debate Comment
                 </h3>
                 <h4 class="date">
                     September 30, 2020
                 </h4>
                 <div class="row">
                     <div class="col-lg-7">
                         <div class="new__content">
                             <p class="newP">
                                Black Lives Matter Global Network Foundation released the statement calling out Trump’s refusal to condemn white supremacists: Yesterday, we witnessed the president of our country deliver direct orders to “stand back and stand by” to white supremacists.
                             </p>
                         </div>
                     </div>
                     <div class="col-lg-5">
                         <div class="news__images">
                             <img src="/images/blm-Global-Network-foundation-statment-min.jpg" alt="news__images">
                         </div>
                     </div>
                 </div>
             </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>